*~
.~*
.*.sw*
*.pdf
*.pyc
*.db
private.*
__pycache__
venv
plots
.coverage
.webassets-cache
*.min.*
/data
sync.sh
*.xlsx
notes.md
/webapp/*.csv
/webapp/*.ods
/webapp/banner
/visu
*.toc
*.aux
*.log
*.out
*.bbl
*.blg
MAIN
#
/slides/*.key
/slides/imgs
/report/resources
/report/figures
/docs
